# Project exclude paths
/.gradle/
/launcher/build/
/launcher/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/unityLibrary/build/
/unityLibrary/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/